<p class="ml-2">
  <a class="btn sticky-top" data-toggle="collapse" href="#filterMenu" role="button">+ Filter</a>
</p>
<div class="collapse" id="filterMenu">
    <form id="filter-form" class="mb-3 d-flex flew-row flex-wrap justify-content-center border align-items-center rounded py-3 mx-2 bg-light">
        <div class="m-4">
            <label for="subject-query">Subject</label>
            <input type="search" id="subject-query" name="subject-query">
        </div>
        <div class="d-flex flex-row">
            <div class="m-4">
                <p>Seeking Collab</p>
                <label for="collab-query-yes">Yes</label>
                <input class="mt-1" type="radio" id="collab-query-yes" name="collab-query">
                <label for="collab-query-no">No</label>
                <input type="radio" id="collab-query-no" name="collab-query">
            </div>
            <div class="m-4">
                <p>Finished</p>
                <label for="finished-query-yes">Yes</label>
                <input type="radio" id="finished-query-yes" name="finished-query">
                <label for="finished-query-no">No</label>
                <input type="radio" id="finished-query-no" name="finished-query">
            </div>
        </div>
        <div class="d-flex flex-column">
            <button id="submit-btn" class="rounded bg-white my-1">Filter</button>
            <button id="clear-btn" class="rounded bg-white my-1">Clear Filters</button>
        </div>
    </form>
</div>

<div class="container">
    {{#each allProjects}}
    <div class="row">
        <div class="col">
            <div class="card-deck" style="width: 18rem;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{project_name}}</h5>
                        <h5><span class="badge bg-secondary">{{subject}}</span></h5>
                        <h5 class="txt-dark"><span class="badge bg-secondary">Ongoing Status:{{ongoing_status}}</span>
                        </h5>
                        <h5><span class="badge bg-secondary">Seeking Collaborators: {{collab_status}}</span></h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{user.name}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{user.institution}}</h6>
                        <p class="card-text">{{abstract}}</p>
                        <a href="#" class="card-link">{{project_url}}</a>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <script src="/js/filterProject.js"></script>