<div>
    <button class="sticky-top" id="filter-btn">Filter +</button>
</div>
<div class="container d-none" id="show-filter">
    <form class="input-group mb-3 text-muted">
        <div class="input-group-prepend">
            <label for="institution-query">Institution</label>
            <input class="" type="text" id="institution-query" name="institution-query">
            {{!-- <select onchange="selectedInstu()">
                <option value="Carleton">Carleton</option>
                <option value="McMaster">McMaster</option>
                <option value="Coding Bootcamp">Coding Bootcamp!</option>
                <option value="All Universities">All Universities</option>
            </select> --}}
        </div>
        <div class="input-group-prepend">
            
        </div>
        <div class="input-group-prepend">
            
        </div>
    </form>
</div>

<div class="container">
    {{#each projects}}
    <div class="row">
        <div class="col">
            <div class="card-deck" style="width: 18rem;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{project_name}}</h5>
                        <h5><span class="badge bg-secondary">{{subject}}</span></h5>
                        <h5 class="txt-dark"><span class="badge bg-secondary">Ongoing Status:{{ongoing_status}}</span>
                        </h5>
                        <h5><span class="badge bg-secondary">Seeking Collaborators: {{collab_status}}</span></h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{user.name}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{user.institution}}</h6>
                        <p class="card-text">{{abstract}}</p>
                        <a href="#" class="card-link">{{project_url}}</a>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}