<div>
    I AM THE HOME PAGE!
    <p>Explore projects and connect with your peers</p>
    <button>Sign up</button>
    <button>Log in</button>
</div>

<div> i am where the filter and projects go

    <div class="container">
        <div class="row">
            <div class="col">
                <!-- add resarch cards, will need JS to dynamically generate?-->
                <div class="card-deck" style="width: 18rem;">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">{{Project.project_name}}PROJECT TITLE</h5>
                            {{!-- i am the subject! --}}
                            <h5><span class="badge badge-secondary">{{Project.subject}} SUBJECT</span></h5>
                            {{!-- i am the ongoing or completed status I AM AN IF STATEMENT--}}
                            <h5><span class="badge badge-secondary">Ongoing</span></h5>
                            {{!-- i am the ongoing or completed status IF STATMENT--}}
                            <h5><span class="badge badge-secondary">Seeking Collaborators</span></h5>
                            <!--MAYBE I BECOME CLICKABLE AND TAKE YOU to THE profile IN THE FUTURE?-->
                            <h6 class="card-subtitle mb-2 text-muted">{{User.name}} STUDENTS NAME</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{Project.institution}} UNIVERSITY NAME</h6>
                            <p class="card-text">{{Project.abstract}}Some quick example text to build on the card title
                                and make up the bulk
                                of
                                the card's content.</p>
                            <a href="#" class="card-link">{{Project.project_url}}GOOGLE DRIVE LINK</a>
                            <div class="card-footer">
                                {{!-- i am uncertain how we want to make the collab status show up... --}}
                                {{!-- <small class="text-muted">{{project.collab_status}}BONJOUR I AM THE COLLAB
                                    STATUS?</small> --}}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>